<ng-container style="box-shadow: 0 5px 5px rgba(57, 63, 72, 0.3);">
  <mat-card class="main-card">
    <div class="row title">
      <div class="col-12 col-sm-6 maintitle">
        <mat-icon style="color: rgb(250, 139, 75); cursor: pointer;" routerLink="/add-block" matTooltip="Reload"
          matTooltipPosition="below">filter_frames</mat-icon>
        <span class="page-heading">{{ 'Edit Complaint' | translate }}</span>
      </div>
    </div>
    <ng-container>
      <div class="row" style="margin-top: 55px;">
        <!-- <mat-card class="districtCard"> -->
        <form class="example-form row" [formGroup]="addComplaint" (ngSubmit)="updateComplaint(addComplaint.value)">
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'CATEGORY' | translate }}</mat-label>
              <div formGroupName="TblCategories">
                <input matInput formControlName="En_Name" [readonly]="true">
              </div>
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{'SUB-CATEGORY' | translate}}</mat-label>
              <div formGroupName="TblSubCategories">
                <input matInput formControlName="En_Name" [readonly]="true">
              </div>
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'TITLE' | translate }}</mat-label>
              <input matInput formControlName="Title" [readonly]="true">
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'DESCRIPTION ' | translate }}</mat-label>
              <input matInput formControlName="Description" [readonly]="true">
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'CREATED_DATE' | translate }}
              </mat-label>
              <input matInput type="text" [matDatepicker]="picker1" formControlName="CreatedDate" [readonly]="true">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'STATUS' | translate }}</mat-label>
              <mat-select formControlName="StatusId" required>
                <mat-option>--Select District--</mat-option>
                <mat-option *ngFor="let status of Status" [value]="status.StatusId">
                  {{ status.En_Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>{{ 'COMPLAIN_USER' | translate }}</mat-label>
              <input matInput placeholder="Simple placeholder" formControlName="ComplaintUserId" [readonly]="true">
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'ASSIGN_TO' | translate }}</mat-label>
              <mat-select formControlName="AssignUserId" required>
                <mat-option>--Select assign--</mat-option>
                <mat-option *ngFor="let assignToUser of assignToUsers" [value]="assignToUser.UserId">
                  {{ assignToUser.FirstName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <section class="col-6" style="padding-left:10px;">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'Comment' | translate }}</mat-label>
              <input matInput formControlName="Comment" [readonly]="true">
            </mat-form-field>
          </section>
          <section class="col-12">
            <div class="example-button-width">
              <button mat-raised-button type="button" style="background-color:#fa8b4b;"
                (click)="reloadPage()">Cancel</button>
              <button mat-raised-button type="submit" color="primary" style="margin-left: 10px;">Save</button>
            </div>
          </section>
        </form>
        <!-- </mat-card> -->
      </div>
    </ng-container>
  </mat-card>
</ng-container>