<ng-container style="box-shadow: 0 5px 5px rgba(57, 63, 72, 0.3);">
  <mat-card class="main-card">
  <div class="row title">
    <div class="col-12 col-sm-6 maintitle">
      <mat-icon style="color: rgb(250, 139, 75); cursor: pointer;" routerLink="/add-block" matTooltip="Reload"
        matTooltipPosition="below">next_week</mat-icon>
      <span class="page-heading">EDIT BLOCK</span>
    </div>
  </div>
  <ng-container>
    <div class="row" style="margin-top: 55px;">
      <!-- <mat-card class="districtCard"> -->
        <form class="example-form row" [formGroup]="addBlock" (ngSubmit)="updateBlock(addBlock.value)">
          <section class="col-6" >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>{{ 'NAME' | translate }} (In English)</mat-label>
              <input matInput formControlName="Name">
            </mat-form-field>
          </section>
          <section class="col-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label> {{ 'NAME' | translate }} (In Hindi)</mat-label>
              <input matInput formControlName="Hi_Name">
            </mat-form-field>
          </section>
          <section class="col-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label> Select State</mat-label>
              <mat-select formControlName="StateId" (selectionChange)="onStateChange($event.value)">
                <mat-option>--select State--</mat-option>
                <mat-option *ngFor="let states of states" [value]="states.StateId">
                  {{ states.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <section class="col-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label> Select District</mat-label>
              <mat-select formControlName="DistrictId">
                <mat-option>--select District--</mat-option>
                <mat-option *ngFor="let district of districts" [value]="district.DistrictId">
                  {{ district.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <section class="col-12">
            <div class="example-button-width">
              <button mat-raised-button type="button" style="background-color:#fa8b4b;" (click)="reloadPage()">Cancel</button>
              <button mat-raised-button type="submit" color="primary" style="margin-left: 10px;">Save</button>
            </div>
          </section>
        </form>
      <!-- </mat-card> -->
    </div>
  </ng-container>
  </mat-card>
</ng-container>
