<!-- --------------------------------Add User Form------------------------------------- -->
<ng-container style="box-shadow: 0 5px 5px rgba(57, 63, 72, 0.3);">
  <mat-card class="main-card">
    <div class="row title">
      <div class="col-12 col-sm-6 maintitle">
        <mat-icon style="color: rgb(250, 139, 75); cursor: pointer; margin-left: 5px;" routerLink=""
          matTooltip="Reload" matTooltipPosition="below">local_mall</mat-icon>
        <span class="page-heading">{{ 'Add Category' | translate }}</span>
      </div>
    </div>
    <ng-container>
      <div class="login-page">
        <div class="form">
          <div class="row" style="margin-top: 55px;">
            <!-- <mat-card class="categorycard"> -->
            <form class="example-form row" [formGroup]="addCategory" (ngSubmit)="saveCategory(addCategory.value)">

              <div class="col-3 formTitle">Name ( In English ):</div>
              <div class="col-9" style="padding-left:10px;">
                <mat-form-field class="example-full-width" appearance="outline">
                  <!-- <mat-label>{{'NAME' | translate }} (In English)</mat-label> -->
                  <input matInput formControlName="En_Name">
                  <mat-error
                    *ngIf="addCategory.controls['En_Name'].invalid && (addCategory.controls['En_Name'].dirty || addCategory.controls['En_Name'].touched)">
                    <div *ngIf="addCategory.controls['En_Name'].errors?.['required']">
                      Name in English is required.
                    </div>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-3 formTitle">Name ( In Hindi ) :</div>
              <div class="col-9">
                <mat-form-field class="example-full-width" appearance="outline">
                  <!-- <mat-label> {{'NAME' | translate }} (In Hindi)</mat-label> -->
                  <input matInput formControlName="Hi_Name">
                  <mat-error
                    *ngIf="addCategory.controls['Hi_Name'].invalid && (addCategory.controls['Hi_Name'].dirty || addCategory.controls['En_Name'].touched)"
                    >
                    <mat-error *ngIf="addCategory.controls['Hi_Name'].errors?.['required']">
                      Name in Hindi is required.
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <section class="col-12">
                <div class="example-button-width">
                  <button mat-raised-button style="background-color:#fa8b4b;" (click)="reloadPage()"
                    type="button">Cancel</button>
                  <button mat-raised-button color="primary" style="margin-left: 10px;" type="submit">Save</button>
                </div>
              </section>
            </form>
            <!-- </mat-card> -->
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card>
</ng-container>