.mat-header-cell{
  background-color: #0F3963;
  color: white;
  font-weight: 500;
}

.page-heading{
  text-align: center;
  margin-left: 10px;
  font-weight: 400;
  font-family: Times, Times New Roman, serif;
  font-size: large;
   /* color: white; */
   color: rgb(255, 255, 255);
}

/* mat-select{
  margin-left: 30px;
  margin-top: 15px;
  width: 100%;
} */

/* mat-label{
  font-size: medium;
} */

.mat-tooltip {
  font-size: medium;
}

.search .mat-label {
  margin-bottom: 50px;
}

.mat-form-field .mat-select{
   /* margin-left: 30px !important; */
   margin-left: 0px !important;
}

.mat-form-field .mat-label{
  text-align: center;
  margin-top: 80px !important;
}

.title{
  background-color: #0F3963;
  height: 50px;
}


.maintitle{
  justify-content: center;
  margin-top: 9px;
}

.example-button-width{
  left: 0;
  bottom: 0;
  float: right;
}

/* -------------------form css------------------ */

.example-form {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  min-width: 100px;
  max-width: 150%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row {
  display: table-cell;
  width: 490px;

}
.submitform{
  float: right;
}

.form{
  margin-top:50px ;
  margin-left: 50px;
}

.searchrecords{
  top: 5px;
  bottom: 0;
  left: 560px;
  width: 30%;
  margin-left: 155px;
}

.file-name {
  margin-left: 1rem; /* or whatever margin you require */
}

.file-name {
  margin-left: 1rem; /* or whatever margin you require */
}


.formTitle{
  /* text-align: center;  */
  margin-top: 18px;
  margin-right: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #0F3963;
}

.from_body {
  display: flex;
  justify-content: center;
  height: 100%;
}

img {
  width: 20%;
  /* height: 500px; */
}